body {
  @apply font-body;
  @apply text-gray-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
  @apply font-black;
  @apply text-gray-900;
}

main ul {
  @apply my-4;
  @apply pl-5;
  list-style-type: disc;
}

main li {
  @apply mb-2;
  @apply text-lg;
}

main p {
  @apply mb-5;
  @apply text-lg;
}

main p a {
  @apply underline text-orange-500
}

main p a:hover {
  @apply text-orange-700 no-underline
}

main h2 {
  @apply text-2xl;
  @apply mb-2;
  @apply mt-8;
}

main h2 a {
  background-image: linear-gradient(to right, rgb(203, 213, 224) 100%, transparent 0%);
  background-position: 0 0.94em;
  background-repeat: repeat-x;
  background-size: 10px 5px;
  text-decoration: none;
}

main h2 a:hover {
  background-image: linear-gradient(to right, #f6ad55 100%, transparent 0%);
  background-position: 0 0.94em;
  background-repeat: repeat-x;
  background-size: 10px 5px;
  text-decoration: none;
}


a.excerpt-link:hover .fancy-link {
  background-image: linear-gradient(to right, #f6ad55 100%, transparent 0%);
  background-position: 0 0.94em;
  background-repeat: repeat-x;
  background-size: 10px 5px;
  text-decoration: none;
}

a.excerpt-link:hover {
  box-shadow: 0 0 0px 10px #f7fafc;
}

code:not([class]), code[class=""] {
  @apply p-1 text-sm text-gray-700 bg-gray-200 border border-gray-300 rounded;
}

.code-toolbar {
  @apply my-8;
}
